.testimonial {
    font-style: italic;
    background-color: #f9f9f9;
    border-left: 5px solid var(--primary-color);
    padding: 10px 16px;
    margin: 20px 0;
}

.resources-container {
    padding: 25px 50px 25px 50px;
    background-color: hsl(223, 89%, 98%);
}

.resources-container a:link { 
    color: var(--button-color); 
    text-decoration: none;
} 

.resources-container a:visited { 
    color: hsl(268, 89%, 58%);
}

@media (max-width: 700px) {
    .resources-container {
        padding: 25px;
    }

    .right-section {
        padding: 0 !important;
    }
}